* {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* .loading {
  background-color: black;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  
}
.loading img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 200px;


} */

#home {
  background-image: url(./2hda8g3be9x21.png);
  height: 100vh;
  width: 100vw;
  color: white;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  align-items: center;
  text-align: center;
}

.intro h1 {
  font-family: "Margarine", cursive;
  font-size: 65px;
  text-shadow: 5px 5px 5px #3498db;
}

.intro h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
}

.intro > .moon > img {
  max-width: 70px;
}

.journey-content {
  position: absolute;
  right: 6%;
  bottom: 6%;
  border: 2px solid white;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  display: flex;
  padding: 7px;
}

.journey-content a {
  align-items: center;
  text-decoration: none;
  color: white;
}

.journey-content {
  align-items: center;
}

.journey-content:hover {
  color: #3498db;
  border: 2px solid #3498db;
  right: 4%;
  transition: 1.5s;
}

.section-header {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Mali', cursive;
  text-shadow: 7px 7px 7px #3498db;
  font-size: 35px;
  padding: 2%;
  box-sizing: border-box;
}

.section-header > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* padding: 5px 10px; */
  box-sizing: border-box;
}

.section-header img {
  max-width: 70px;
}

section {
  background-image: url(./photo-1475274047050-1d0c0975c63e.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}


nav {
  /* background-color: black; */
  background-color: rosybrown;
  position: fixed;
  height: 100vh;
  width: 15vw;
  padding: 20px 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.main_menu * {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.links {
  height: 15%;
  padding: 0 10px;
}

.links .social-media {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}


/* about me section  */

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  height: 100vh;
  flex-wrap: wrap;
}
.about-me-img img {
  max-width: 500px;
  margin-right: 100px;
}

.about-me-caption {
  font-family: 'Mali', cursive;
  color: white;

  padding: 15px;
  text-align: center;
  max-width: 450px;
  background: linear-gradient(
    180deg,
    rgba(5, 37, 78, 0.5) 0,
    rgba(5, 37, 78, 0.5) 75%,
    rgba(5, 37, 78, 0)
  );
}

.about-me-caption h1 {
  padding: 20px;
  font-size: 40px;
  text-shadow: 7px 7px 7px #3498db;
}

.about-me-caption h4 {
  padding: 20px;
  font-size: 22.5px;
  text-shadow: 7px 7px 7px #3498db;
}
.about-me-caption p {
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  font-size: 20px;
}

.chat {
  padding: 10px;
  border: 2px solid white;
  font-size: 22px;
  display: flex;
  margin: 0 auto;
  max-width: 200px;
}

.chat a {
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

.chat:hover {
  color: #3498db;
  border: 2px solid #3498db;
}

a:hover {
  color: #1e9de3;
  font-size: 23px;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 370px);

  grid-gap: 30px;
  color: azure;
}

.projects-container h3 {
  font-family: 'Mali', cursive;

  padding: 5px;
}

.projects-container h4 {
  font-family: "Quicksand", sans-serif;

  padding: 5px;
}

.cards-front,
.cards-back,
.cards-full,
.cards-personal {
  background: linear-gradient(
    180deg,
    rgba(5, 37, 78, 0.5) 0,
    rgba(5, 37, 78, 0.5) 75%,
    rgba(5, 37, 78, 0)
  );
  border-radius: 10px;
}

.card-tools {
  max-width: 35px;
}

/* .cards-front h3:hover {
  color: #1e9de3;
} */

.cards-btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid #1e9de3;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: "Mali", cursive;
}

.cards-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1e9de3;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.cards-btn:hover::before {
  transform: translateX(0);
}

.card-img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}





@media only screen and (max-width: 850px){

  .projects-container {
    display: flex;
    flex-direction: column;
    padding: 0 150px 50px 150px;
   
   
  }
   
  .card-tools {
    max-width: 35px;
  } 

}

@media only screen and (max-width: 450px) {
  .projects-container {
    padding: 0 20px 50px 20px;
  }

  .card-tools {
    max-width: 25px;
  } 

}



@media only screen and (max-width: 1100px) {
  .intro {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro h1 {
    font-size: 40px;
  }

  .intro h4 {
    font-size: 20px;
  }

  .moon img {
    max-width: 45px;
  }

  .journey-content {
    margin: 0 auto;
  }

  section {
    height: 100%;
  }
  #about-me {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
  }

  .section-header {
    padding-bottom: 50px;
  }

  .about-me-container {
    flex-direction: row;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 50px;
  }

  .about-me-img img,
  .about-me-caption {
    width: 100%;
    margin: 0px;
  }

  
  .card-img {
    height: 150px;
  }


}

